xml-resources/web-service-references/WSOperations/wsdl/localhost_8080/ServicioWebSOAP_GUIA_U1/WSOperations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSOperations">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServicioWebSOAP_GUIA_U1/WSOperations?xsd=1"/>
</xsd:schema>
</types>
<message name="KelvinToCelsiusConverter">
<part name="parameters" element="tns:KelvinToCelsiusConverter"/>
</message>
<message name="KelvinToCelsiusConverterResponse">
<part name="parameters" element="tns:KelvinToCelsiusConverterResponse"/>
</message>
<message name="DistanciaCarro">
<part name="parameters" element="tns:DistanciaCarro"/>
</message>
<message name="DistanciaCarroResponse">
<part name="parameters" element="tns:DistanciaCarroResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="multiplicacion">
<part name="parameters" element="tns:multiplicacion"/>
</message>
<message name="multiplicacionResponse">
<part name="parameters" element="tns:multiplicacionResponse"/>
</message>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="EnergiaPotencial">
<part name="parameters" element="tns:EnergiaPotencial"/>
</message>
<message name="EnergiaPotencialResponse">
<part name="parameters" element="tns:EnergiaPotencialResponse"/>
</message>
<portType name="WSOperations">
<operation name="KelvinToCelsiusConverter">
<input wsam:Action="http://ws/WSOperations/KelvinToCelsiusConverterRequest" message="tns:KelvinToCelsiusConverter"/>
<output wsam:Action="http://ws/WSOperations/KelvinToCelsiusConverterResponse" message="tns:KelvinToCelsiusConverterResponse"/>
</operation>
<operation name="DistanciaCarro">
<input wsam:Action="http://ws/WSOperations/DistanciaCarroRequest" message="tns:DistanciaCarro"/>
<output wsam:Action="http://ws/WSOperations/DistanciaCarroResponse" message="tns:DistanciaCarroResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://ws/WSOperations/restaRequest" message="tns:resta"/>
<output wsam:Action="http://ws/WSOperations/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="multiplicacion">
<input wsam:Action="http://ws/WSOperations/multiplicacionRequest" message="tns:multiplicacion"/>
<output wsam:Action="http://ws/WSOperations/multiplicacionResponse" message="tns:multiplicacionResponse"/>
</operation>
<operation name="division">
<input wsam:Action="http://ws/WSOperations/divisionRequest" message="tns:division"/>
<output wsam:Action="http://ws/WSOperations/divisionResponse" message="tns:divisionResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://ws/WSOperations/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://ws/WSOperations/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://ws/WSOperations/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://ws/WSOperations/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="EnergiaPotencial">
<input wsam:Action="http://ws/WSOperations/EnergiaPotencialRequest" message="tns:EnergiaPotencial"/>
<output wsam:Action="http://ws/WSOperations/EnergiaPotencialResponse" message="tns:EnergiaPotencialResponse"/>
</operation>
</portType>
<binding name="WSOperationsPortBinding" type="tns:WSOperations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="KelvinToCelsiusConverter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DistanciaCarro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EnergiaPotencial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSOperations">
<port name="WSOperationsPort" binding="tns:WSOperationsPortBinding">
<soap:address location="http://localhost:8080/ServicioWebSOAP_GUIA_U1/WSOperations"/>
</port>
</service>
</definitions>